
nav#top-bar{
    background: black;
}


li#brand a{
    color: blue !important;
    font-size: 3.5vw;
    font-family:-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: bold;
    text-transform: none;
}

#nav-link li a:not(li#brand a){
    text-transform: none;
    font-size: 1.2vw;
    font-family:-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: bold;

    display: flex;
    align-items: center;
}